@import "../../shared/styles/variables.scss";

.Layout {
    position: relative;
    width: 100%;
}

.Toolbar {
    width: 100%;
    height: $toolbar-height;
    background-color: white;
    border-bottom: 2px solid black;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
  }

.Footer {
    width: 100%;
    height: $footnote-height;
    background-color: white;
    border-top: 2px solid black;
    position: fixed;
    bottom: 0;
    left: 0;
  }

  .Content {
    margin: $toolbar-height 0 $footnote-height;
  }