@import "../../shared/styles/variables";
@import "./bookMainVariables";

.BookMainWrapper {
    position: relative;
    padding: 1rem
}

@media (min-width: $pad-horizontal-breakpoint) {
    .BookMainWrapper {
        margin: auto;
        padding: 2rem;
        width: 75%
    }
}

.ImageWrapper {
    width: $image-width;
    max-width: $max-image-width;
    height: $image-height;
    margin: $image-margin;
    box-shadow: $shadow-main;
}

@media (min-width: $mobile-horizontal-breakpoint) {
    .ImageWrapper {
        position: absolute;
        margin: 0;
    }
}

.Image {
    width: calc(#{$image-width * 0.88});
    max-height: calc(#{$image-height * 0.9});
}

@media (min-width: $mobile-horizontal-breakpoint) {
    .MetaInfo {
        display: flex;
        flex-direction: column;
    }
}

.Title {
    margin: 2rem 0 0.5rem;
}
