@import "../../shared/styles/variables";

.BookList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px 0;
    width: 100%;
    height: 100%;
}
