@import "../../../shared/styles/variables";

.BookListItemWrapper {
    padding: 0.3rem 0;

    &:hover {
        background-color: $white-on-hover;
    }
}

.BookListCard {
    box-shadow: $shadow-main;
}

.BookListItem {
    display: flex;
    flex-direction: row;    
    border-bottom: 1px solid $border-color-main;

    &:last-child {
        border-bottom-color: transparent;
    }
}

@media (min-width: 500px) {
    .BookListCard {
        max-width: 600px;
        margin: 0 auto;
    }
}

.BookListInfo {
    display: flex;
    flex-direction: column;
}

.Title {
    font-size: 1rem;
    color: black;
    font-weight: bold;
    width: 100%;
    height: 3.375rem;

    & > a {
        color: inherit;
        text-decoration: none;
    }
}

.Topics {
    font-size: 0.8rem;
    font-style: italic;
}

.Url {
    font-size: 1.2rem;
    font-family: inherit;
    font-weight: bold;
    text-align: inherit;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;

    &:focus {
        outline: none;
    }

    &:hover {
        border-bottom-color: black;
    }
}
