$toolbar-height: 50px;
$footnote-height: 25px;
$link-color: #2156a5;
$disabled-color: rgba(16, 16, 16, 0.2);

$white-on-hover: rgba(221, 167, 27, 0.15);

$border-color-main: #b8b1b1;
$shadow-main: 0 2px 4px 0 #b8b1b1;